<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <!-- 普通日志（包含异常日志） -->
    <appender name="fileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\" />
      <param name="AppendToFile" value="true" />
      <param name="rollingStyle" value="Composite" />
      <param name="datePattern" value="yyyy-MM-dd.'log'" />
      <param name="maxSizeRollBackups" value="5" />
      <param name="maximumFileSize" value="20MB" />   
      <param name="staticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%thread] %level - %m%n" />
      </layout>
    </appender>
    <!-- 异常日志 -->
    <appender name="fileAppender_Error" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\" />
      <param name="AppendToFile" value="true" />
      <param name="rollingStyle" value="Composite" />
      <param name="datePattern" value="yyyy-MM-dd'-error'.'log'" />
      <param name="maxSizeRollBackups" value="5" />
      <param name="maximumFileSize" value="20MB" />
      <param name="staticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%thread] %level - %m%n" />
      </layout>
    </appender>
    <!-- Windows日志 -->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">      
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%thread] %level - %m%n" />
      </layout>
    </appender>
         
    <!-- 定义全局logger -->
    <root>
      <level value="INFO" />
      <appender-ref ref="fileAppender" />     
    </root>

    <!-- 定义 error logger -->
    <logger name="error">
      <level value="ERROR" />
      <appender-ref ref="fileAppender_Error"></appender-ref>
    </logger>

    <!-- 自定义 logger -->
    <logger name="cnfLogger">
      <level value="ERROR" />
      <appender-ref ref="EventLogAppender"></appender-ref>
    </logger>
    
  </log4net>
</configuration>